<div class="row">
    <div class="col-xs-12">


        <form [formGroup] = "shoppingEditForm" id = "shoppingEditForm" (ngSubmit)="onSubmitItems()" >
            <div formGroupName = "itemDetails">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for = "name">Name</label>
                    <input type = "text" id = "name" class = "form-control" formControlName = "name" >
                    <span  id = "name-error" style = "color:red" class = "help-block" *ngIf = "!shoppingEditForm.get('itemDetails.name').valid && shoppingEditForm.get('itemDetails.name').touched">This field is required</span>
                </div>

                <div class="col-sm-2 form-group">
                    <label for = "amount">
                        Amount
                    </label>
                    <input type = "number" id = "amount" class = "form-control" formControlName = "amount" >
                    <span id = "amount-error" style = "color:red" class = "help-block" *ngIf =  "!shoppingEditForm.get('itemDetails.amount').valid && shoppingEditForm.get('itemDetails.amount').touched">
                        <span *ngIf = "shoppingEditForm.get('itemDetails.amount').errors['required']">This field is required</span>
                        <span *ngIf = "shoppingEditForm.get('itemDetails.amount').errors.pattern">Amount has to be greater than 0</span>
                    </span>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-xs-12">
                    <button id = "submitBtn" class = "btn btn-success" type = "submit" [disabled]="!shoppingEditForm.valid">{{ editMode ? 'Update' : 'Add'}}</button>
                    <button class = "btn btn-danger" type = "button" (click) = "onDelete()" *ngIf = "editMode">Delete</button>
                    <button class = "btn btn-primary" type = "button" (click) = "onClear()">Clear</button>
                </div>
            </div>
        </form>


    </div>
</div>


<!--to get the add button to usee the local references so that oncee the button is created, 
    the value of the inputs are useed to create new ingredients and add this to the array of ingredients -->

  